.articleTitle {
  margin-top: 0;
}

.articleDescription {
  margin: 16px 0 8px;
}

.articleEditor {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin-top: 16px;
  button {
    align-self: flex-end;
  }
}
