.container {
  height: 100%;
  padding-top: 24px;
  background-color: rgba(green, 0.2);
}

.editor {
  display: flex;
  flex-direction: column;
  padding: 24px;
  h2 {
    margin-top: 0;
  }
  button {
    align-self: flex-end;
  }
}
