:global {
  html,
  body,
  #root {
    height: 100%;
  }

  .DayPicker-Day--hasEvent:not(.DayPicker-Day--outside) {
    background: red;
  }
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.appContent {
  flex: 1;
  padding: 50px 0 0; // for fixed navbar
}
