:global {
  html,
  body,
  #content {
    height: 100%;
  }
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.appContent {
  padding: 50px 0 0; // for fixed navbar
  height: 100%;
}
