// MAP PAGE
.WorldPage {
  height: calc(100vh - 160px); // Temporary solution for current layout
}

// MAP
.LocationMap {
  width: 100%;
  height: 100%;
}

.AddMarkerButton {
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: 1000;
}

.MarkerPopup {
  h3 {
    margin: 0;
  }
  p {
    margin: 18px 0 0;
  }
}
