.WorldPage {
  height: 100%;
}

.LocalizationMap {
  width: 100%;
  height: 100%;
}

.AddMarkerButton {
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: 1000;
}

.AddLocalizationForm {
  display: flex;
  flex-direction: column;
}
